SERVER_PORT=8084
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/problem_db
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_DATASOURCE_HIKARI_INITIALIZATION_FAIL_TIMEOUT=0
SPRING_FLYWAY_CONNECT_RETRIES=10
AUTH_SERVICE_BASE_URL=http://auth-service:7483
SUBMISSION_SERVICE_URL=http://submission-service:8080
